@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

.App {
  font-family: 'Oxygen', sans-serif;
}

.App > li {
  display: inherit;
}

.title-item {
  font-size: 2em;
  font-weight: bold;
}

.highlight-item {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
